<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- 对数组的遍历 -->
        <section v-for="item,index in arr">
            {{index}}:{{item}}
        </section>
        <section v-for="item,index of arr">
            {{index}}:{{item}}
        </section>
        <!-- 对对象进行遍历 -->
        <section v-for="(val,key,index) in obj">
            {{index}}:{{val}}
        </section>
        <section v-for="(value,key,i) in obj">
            {{i}}:{{value}}
        </section>
    </div>

</body>
<!-- 1.引入 vue 的依赖库  -->
<script src="https://cn.vuejs.org/js/vue.js"></script>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            arr: ["👍", "💯", "😊", "🍎"],
            obj: {
                name: "Thomas",
                sex: "男"
            }
        }
    })
</script>

</html>